.pannel {
    /* padding-top: 17px;
    padding-bottom: 25px; */
    /* margin-right: auto;
    margin-left: auto; */
    /* width: 100%; */
    border: 2px solid rgb(17, 17, 17);
    background: rgba(241, 240, 240, 0.4);
}