
 .ihatelife {
    position: relative;
    width: 100%;
    padding-top: 50px;
    height: auto;
    min-height: 35rem;
    /* padding: 15rem 0; */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("https://ei.marketwatch.com/Multimedia/2019/01/23/Photos/ZH/MW-HC524_scVall_20190123163407_ZH.jpg?uuid=9d241118-1f56-11e9-b460-ac162d7bc1f7");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: inline-block;
   } 
    
  .ihatelife h1 {
  font-family: 'ZCOOL XiaoWei', serif;
    font-size: 100px;
    font-size-adjust: inherit;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  } 
   
  .ihatelife h2 {
    font-size: 2.5rem;
    font-family: 'ZCOOL XiaoWei', serif;
  line-height: 2.5rem;
    letter-spacing: 0.8rem;
  max-width: 20rem;
  }
  
  @media (min-width: 768px) {
    .ihatelife h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  
  @media (min-width: 992px) {
    .ihatelife {
      height: 100vh;
      padding: 0;
    }
    .ihatelife h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .ihatelife h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }

.btn {
  background-color: purple;
  
}

.philBTN  {
  width:60%;
  margin:auto;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: rgba(129, 106, 134, 0.432);
  text-align: center;
  color: black;
  font-weight: 900;
  border-radius: 4px;
  border: 1px solid rgb(32, 4, 4);
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  
}

.philBTN:hover {
  background-color: rgba(129, 182, 94, 0.623);
  color: white;
}



.newHeader1 {
  font-size: 100px;
}



