
form {
    margin: 20px;
    /* border: 2px solid red; */
    background: rgba(240, 237, 237, 0.5);
  }
  
form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

 h2 {
   color: red;
   font-family: 'Exo', sans-serif;
   font-weight: bold;
 }

 body {
   background-color: rgba(232, 196, 253, 0.075);
   background-image: url(../../img/Backgrounds/Smoke_Generic1_0.jpg);
   background-position: center;
 }



 label {
   font-weight: bold;
   color: black;
 }

 option {
   background-color: aquamarine;
 }



  
 

  